@font-face {
  font-family: "lato-bold";
  src: url("../assets/typefaces/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "lato-regular";
  src: url("../assets/typefaces/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato-light";
  src: url("../assets/typefaces/Lato/Lato-Light.ttf") format("truetype");
}
body {
  margin: 0 auto;
  max-width: 780px;
}

#header-image-container {
  width: 280px;
  height: 280px;
  background-image: url("../assets/profile.jpg");
  background-position: center;
  background-size: 130%;
  border-radius: 35px;
  margin-left: auto;
}

#header-container {
  margin-top: 70px;
  margin-bottom: 60px;
}
#header-container span {
  font-family: "lato-regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
}

#header-left-container {
  display: flex;
  flex-direction: column;
}

#header-name {
  display: inline-block;
  margin-bottom: 15px;
}
#header-name span {
  font-family: "lato-bold" !important;
  font-style: normal !important;
  font-size: 56px !important;
  line-height: 68px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

#bold {
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

#name-underline {
  background-color: #ff7716;
  width: 80%;
  height: 4px;
  float: right;
}

#header-navigation {
  padding-left: 0px;
  margin-top: auto;
}
#header-navigation span {
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px !important;
}
#header-navigation span:hover {
  color: #ff7716;
  cursor: pointer;
}

.section-title {
  color: #ff7716;
  font-family: "lato-regular";
  font-size: 22px;
  line-height: 27px;
  text-align: right;
  padding-right: 15px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  padding-right: 0px;
}

.about-paragraph {
  font-family: "lato-light";
  color: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  line-height: 170%;
}

.project-container {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 40px;
}
.project-container a {
  text-decoration: none;
}

.project-title {
  display: inline-block;
  font-family: "lato-regular";
  font-weight: 600;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 0.1s;
}
.project-title:hover {
  padding-right: 10px;
  color: #ff7716;
  transition: all ease-in-out 0.1s;
}

.link-icon-container {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../assets/icons/link-24px.svg");
  background-size: 100%;
}

.project-description {
  padding-left: 30px;
  font-family: "lato-light";
  font-size: 17px;
  margin-bottom: -20px;
}

.project-categories {
  display: inline-block;
  padding-left: 30px;
}

.project-category {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
}

.category {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  color: #ff7716;
  background-color: #FFEFE3;
  border-radius: 4px;
  font-size: 11px;
  margin: 0 auto;
}

.content-container {
  margin-bottom: 80px !important;
}

#timeline-container {
  display: inline-block;
}

#timeline-svg {
  background-image: url("../assets/icons/timeline.svg");
  background-size: cover;
  display: inline-block;
  width: 10px;
  height: 330px;
  float: left;
}

#timeline-content {
  display: inline-block;
  float: left;
  padding-left: 14px;
}

.timeline-entry {
  padding-bottom: 30px;
}
.timeline-entry p {
  font-family: "lato-regular";
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.5;
  margin-bottom: 0px;
}
.timeline-entry .timeline-entry-title {
  opacity: 1 !important;
}

.skills-column {
  display: block;
}
.skills-column span {
  display: block;
  font-family: "lato-light";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.6;
  padding-bottom: 8px;
}
.skills-column .skill-title {
  font-family: "lato-regular" !important;
  font-size: 22px !important;
  opacity: 1;
}

#connect {
  margin-top: 40px;
  margin-bottom: 150px !important;
}

#connect-container {
  padding-left: 5px;
}
#connect-container a {
  color: #ff7716;
  padding-right: 15px;
}

.body-link {
  color: #ff7716 !important;
}

.navigation-link a {
  color: rgba(0, 0, 0, 0.7);
}

/*# sourceMappingURL=main.css.map */
